<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hechao.chat">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <!-- 应用 -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:name=".App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!--聚合openid-->
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH118022b1118eae05e616a68b0d7354c3" />

        <!--百度地图appkey-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3a0vVIWyrZC2CQSdrvvObnM7123OugOG" />


        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>


        <!--添加好友-->
        <activity android:name=".AddFriendActivity"></activity>

        <!--好友列表-->
        <activity android:name=".FriendListActivity"></activity>

        <!--对话-->
        <activity android:name=".ConversationAcivity">
            <intent-filter>
                <!-- 关联融云sdk 实现对话 -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.hechao.chat"
                    android:pathPrefix="/conversation"
                    android:scheme="rong" />

            </intent-filter>
        </activity>



        <!--baiduMap-->
        <activity android:name=".BaiduMapActivity"></activity>

        <!--注册-->
        <activity android:name=".LoginActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!--对话列表-->
        <activity android:name=".ConversationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>

                <!--集成融云sdk 实现会话列表-->
                <data

                    android:host="com.hechao.chat"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong"></data>

            </intent-filter>

        </activity>


        <activity android:name=".UploadPicActivity"></activity>


    </application>

</manifest>
